{% extends 'base.html.twig' %}

{% block title %}Liste des familles{% endblock %}

{% block myTitle %}Pages listant les familles{% endblock %}

{% block body %}
    {% for famille in familles %}
        <h2 class="border-bottom border-primary">
            <a href="{{ path('show_family', {'id': famille.id}) }}">
                {{ famille.libelle | capitalize }}
            </a>
        </h2>
        <div>{{ famille.description }}</div>
        <div class="row">
            {% for animal in famille.animals %}
                <div class="col-6">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6 col-lg-2 text-center">
                            <img src="{{ asset('images/' ~ animal.image) }}" class="img-fluid">
                        </div>
                        <div class="col-auto">
                            <h2><a href="{{ path('show_animal', {'id': animal.id }) }}">{{ animal.name }}</a></h2>
                            <div>{{ animal.description }}</div>
                            <div><a href="{{ path('show_family', {'id': animal.famille.id}) }}" class="btn btn-primary">
                                    {{ animal.famille.libelle }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
